<table class="tx-its-pdfgen" >
	<tr>
		<td>
			<f:translate key="tx_itspdfgen_domain_model_pdf.url" />
		</td>
		<td>
			{pdf.url}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_itspdfgen_domain_model_pdf.filename" />
		</td>
		<td>
			{pdf.filename}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_itspdfgen_domain_model_pdf.createdat" />
		</td>
		<td>
			{pdf.createdat -> f:format.date()}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_itspdfgen_domain_model_pdf.userid" />
		</td>
		<td>
			{pdf.userid}
		</td>
	</tr>
</table>